@font-face {
  font-family: 'iconfont';  /* project id 616205 */
  src: url('//at.alicdn.com/t/font_616205_8pc4e6olkw2sxlxr.eot');
  src: url('//at.alicdn.com/t/font_616205_8pc4e6olkw2sxlxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_616205_8pc4e6olkw2sxlxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_616205_8pc4e6olkw2sxlxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_616205_8pc4e6olkw2sxlxr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before { content: "\e623"; }
.icon-add:before { content: "\e612"; }

